fieldset{
    width: 200px;
    border-radius: 10px;
}
legend,label{

    font-family: Verdana sans-serif;
    font-weight: bold;
}
input[type=text], input[type=number], input[type=color], input[type=url],input[type=time],input[type=email] {
    padding:1%;
    border-radius: 10px;
    border-bottom: 1px solid lightskyblue;
    border-left: 1px solid lightskyblue;

}
input[type=reset], input[type=button],input[type=submit]{
    width: 200px;
    padding:1%;
    border-radius: 10px;
    border-bottom: 1px solid lightskyblue;
    border-left: 1px solid lightskyblue;

}

button img
{
width: 50px;
}
input[type=radio]+label:hover
{
    font-size: 20px;
    background-color: lightskyblue;
    border-radius: 10px;
    padding:1%;
}
